name: Build and test all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    # runs the CI everyday at 10AM
    - cron: "0 10 * * *"

jobs:
  semantic_pull_request:
    # Semantic Pull Request https://workflows.vgv.dev/docs/workflows/semantic_pull_request
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/semantic_pull_request.yml@v1

  check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/get-flutter

      - name: run dart format check
        run: melos check-format

  build_and_test:
    runs-on: macos-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/build-all

      - name: analyze
        run: melos analyze

      - name: run dart tests
        run: melos test-dart

      - name: run flutter tests
        run: melos test-flutter

      - name: install Java (Android Gradle plugin requires Java 11 to run)
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: start Android emulator and run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          target: google_apis
          arch: x86_64
          ram-size: 1024M
          disk-size: 2048M
          emulator-options: -no-window -gpu swiftshader_indirect -no-boot-anim
          disable-animations: false
          script: |
            #!/usr/bin/env bash
            melos test-integration -- -d emulator

      - name: start iOS simulator
        uses: futureware-tech/simulator-action@v3
        with:
          model: 'iPhone 14'
          erase_before_boot: true
          shutdown_after_job: true
      - name: run iOS integration tests
        run: melos test-integration -- -d iPhone
